/* IMPORTACIONES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* VARIABLES */
:root{
    /* COLOR */
    --white: white;
    --black: black;
    --colorLight: #F0F0F0;
    --colorDark: #464646;
    --colorGreen: #4ADD97;
    --colorYellow: #FFE588;
    --colorRed: #FF6C6C;
    --colorGrey: #464646; 

    /* FONTS */
    --fontMain: "Inter", sans-serif;

    /* WEIGHT FONTS */
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semiBold: 600;
    --weight-bold: 700;

    /* SIZE FONTS  */
    --fontSize-Small: .8rem;
    --fontSize-big: 1.2rem;

    /* BOX SHADOW */
    --shadowComponents: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* BACKGROUND */
    --bgGreen: #4ADD97;
    --bgYellow: #FFE588;
    --bgRed: #FF6C6C;
    --bgPurple: #9A81FF;
    --bgPink: #FF81CC;
    --bgBlue: #476F7B;

}

/* NORMALIZACION */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--fontMain);
    border: none;
}

body{
    background-color: var(--colorLight);
}

.main{
    padding: 100px 0;
    overflow: hidden;
}

.section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    padding-top: 50px;
}



/* HEADER */
.header{
    background-color: var(--colorLight);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: var(--shadowComponents);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.logoItem{
    font-size: var(--fontSize-big);
    font-weight: var(--weight-regular);
}


.nav_item{
    color: black;
    transition: all .3s;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: .3em 1em;
}

.nav_item:hover{
    color: var(--colorDark);
    scale: 1.1;
    border-color: var(--colorDark);
}

.conteinerIconMenu{
    display: none;
}

/* PANEL DE CONTROL */
.panelControl{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.buttons{
    font-size: var(--fontSize-Small);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.button{
    width: 100%;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: var(--shadowComponents);
    transition: scale .3s;
}

.button:hover{
    scale: 1.01;
}

.button--start{
    background-color: var(--colorGreen);
}

.button--pause{
    background-color: var(--colorYellow);
}

.button--stop{
    background-color: var(--colorRed);
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    width: 100%;
    padding: 3em 0;
    border-radius: 10px;
    box-shadow: var(--shadowComponents);
    max-width: 600px;
}

.clock_minutes, .clock_seconds, .clock_point{
    font-size: 5rem;
}


/* BUTTON AUTOS */
.conteinerButtonAutos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.buttonAuto{
    max-width: 150px;   
    min-width: 20%;
    background-color: var(--colorGreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1em;
    box-shadow: var(--shadowComponents);
    transition: scale .3s;
}

.buttonAuto:hover{
    scale: 1.01;
}

.numberAuto{
    color: var(--white);
    font-size: var(--fontSize-big);
    text-align: right;
}

.iconAuto{
    color: var(--white);
    font-size: 5rem;
    text-align: center;
}


.conteinerAddAutos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonAddAutos{
    width: 20%;
    background-color: var(--colorGrey);
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadowComponents);
    transition: scale .3s;
}

.buttonAddAutos:hover{
    scale: 1.01;
}

.iconAddAutos{
    font-size: 5rem;
    color: var(--colorLight);
}

/* TIEMPOS */

.headerTiempos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionTitle{
    font-size: var(--fontSize-big);
    font-weight: var(--weight-semiBold);
}

.filtros{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button_filtro{
    background-color: var(--colorGrey);
    color: var(--white);
    padding: 1em;
    border-radius: 5px;
    box-shadow: var(--shadowComponents);
    transition: scale .3s;
}

.button_filtro:hover{
    scale: 1.01;
}

.conteinerTiempos, .conteinerTablaPosiciones{
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item_tiempo, .item_position{
    font-size: var(--fontSize-Small);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: 10px;
    box-shadow: var(--shadowComponents);
}


/* EXPORTAR */
.exportar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonExportar{
    background-color: var(--colorGreen);
    padding: 1em;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: var(--shadowComponents);
    transition: scale .3s;
}

.buttonExportar:hover{
    scale: 1.01;
}


/* CUSTOM CAR */
.conteinerCustomCar{
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorLight);
    transform: translate(100%);
    transition: transform .5s;
}

.customCar{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    padding: 1em;
    gap: 30px;
    border-radius: 10px;
}

.customCarInput{
    padding: 1em;
    border-radius: 10px;
    box-shadow: var(--shadowComponents);
    color: var(--black);
    background-color: var(--colorLight);
    border: 1px solid var(--black);
}

.customCarp{
    text-align: center;
    font-weight: var(--weight-semiBold);
}

.conteinerColor{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.color{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: var(--shadowComponents);
    transition: scale .3s;
}

.color:hover{
    scale: 1.01;
}

.buttonCustomCar{
    background-color: var(--colorGreen);
    padding: 1em;
    border-radius: 10px;
    box-shadow: var(--shadowComponents);
    transition: scale .3s;
}

.buttonCustomCar:hover{
    scale: 1.01;
}

.buttonCustomCar--cancel{
    background-color: var(--bgRed);
}

/* NAV FLOAT */
.navFloat{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorLight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 1em;
    z-index: 10;
    transform: translate(100%);
    transition: transform .3s;
}

.navFloat_item{
  border: 1px solid black;
  width: 100%;
  text-align: center;
  padding: 1em;
  color: var(--black);
  border-radius: 10px;
  transition: scale .3s;
  box-shadow: var(--shadowComponents);
}

.navFloat_item:hover{
  scale: 1.01;
}

.active{
    transform: translate(0);
}

/* BACKGROUNDS */
.bgGreen{
    background-color: var(--bgGreen);
}

.bgYellow{
    background-color: var(--bgYellow);
}

.bgRed{
    background-color: var(--bgRed);
}

.bgPurple{
    background-color: var(--bgPurple);
}

.bgBlue{
    background-color: var(--bgBlue);
}

.bgPink{
    background-color: var(--bgPink);
}

